body {
  margin: 0
}

/* Exo margin */
section{
  background-color: #4da6ff;
}
h2{
  background-color: yellow;
  border: 2px solid;
  width: 300px;
  }
  #margin > :nth-child(3){
    margin:50px;
  }
  #margin > :nth-child(5){ 
    margin-left:20%;
  }
  #margin > :nth-child(7){
    margin:auto;
  }

/* fin exo margin */

/* exo padding */

#padding > :nth-child(3){
padding: 50px;;
}
#padding > :nth-child(5){
 padding-left: 20%; 
}

/* fin exo padding */


/* exo display */

/* observation commencer
#display > :nth-child(3){
  display: inline-block;
 }
#display > :nth-child(4){
    display: inline-block;
} observation finit*/

#display > ol li:nth-child(1){
  margin: 50px;
  padding: 50px;
}
#display > :nth-child(3){
  display: inline;
 }
#display > :nth-child(4){
    display: inline;
}
#display > :nth-child(4){
  display: none;
}
/* fin exo display */

/* exo float */

#float > :nth-child(3){
  width: auto;
  float: right;
}
#float > :nth-child(4){
  width: auto;
  float: left;
}
#float{
   overflow:scroll;
}
/* fin exo flaot */

/* exo position */

#position > :nth-child(3){
  border:1px red solid;
  position: fixed;
  background-color: green;
  top:50px;
  left:50%
}
#position{
  position: relative;
  }
/* fin exo position  */

/* exo position (priorité) */

#posPrio > :nth-child(4){
  background-color: blue;
  margin-left: 100px;
  position: static;
}
#posPrio > :nth-child(3){
  position: absolute;
}
/* fin exo position (priorité) */